[Unit]
Description=Change calendar icon.

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/share/harbour-dyncal/harbour-dyncal.sh

[Install]
WantedBy=multi-user.target
